<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keyword" content="CONTACTO FERRETERIA LTDA."
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contacto</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  	<link rel="stylesheet" href="./css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h1 style="align-content: center">CONTACTO</h1>
<!-- inicio nav -->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Inicio</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="./nuestroServicio.html">Nuestro Servicio</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="./quienesSomos.html">Quienes Somos</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link active href="./contacto.html">Contacto</a>
      </li>
    </ul>
  </div> 
  <div class="col-md-12 col-xs-12"></div>
</div> <!-- fin row -->
 <!-- fin nav -->
 <br>
<form>
<div class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Apellido</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
    </div>
  </div>
  <div class="form-group col-md-12 ">
    <label for="inputAddress">Correo</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="correo">
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress2">Celular</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="56991234569">
  </div>
  	<div class="col-md-12"></div>
  <fieldset class="form-group col-md-4">
      <legend class="col-form-label col-sm-4">¿Qué Buscas?</legend>
      <div class="col-sm-4">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Venta
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Arriendo
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Contacto
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputCity">Comentarios</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-12">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="col-md-12" class="form-check-label" for="gridCheck">
        Acepto recibir newsletters
        </div>
        <br>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="reset" class="btn btn-primary">Limpiar</button>
</form>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <a href="../index.html" class="btn btn-primary btn-xs active" role="button" aria-pressed="true">Volver al inicio</a>
    <a href="#top" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true">Volver arriba</a>
  </div>
  <div class="col-md-12"></div>
  <div class="col-md-6 col-xs-12">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../img/ig.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        @ferre.ltda
      </a>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="../img/fb.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          ferre.ltda
            </a>
  </div>
</div>
</html>


