<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Menu</title>
</head>
<body>
<h1>MENÚ</h1>

<ol>
<li>
	<h3><a href="../index.html">Inicio</a></h3>
	</li>
	<li>
	<h3><a href="venta.html">Venta</a></h3>
</li>	
	<ul>
		<li><h3><a href="Venta.html">Herramienta</a></h3></li>
		<li><h3><a href="Venta.html">Maquinaria</a></h3></li>
	</ul>
<li>
	<h3><a href="arriendo.html">Arriendo</a></h3>
		<ul>
			<li><h3><a href="arriendo.html">Herramientas</a</h3></li>
			<li><h3><a href="arriendo.html">Maquinaria</a></h3></li>
		</ul>
<li>
	<h3><a href="contacto.html">Contacto</a></h3>
</li>
</ol>
	<br>
	<br>
		<footer>
		<h5>Cia Ferreteria Ltda.</h5>
		<h5>Av. Calle 1</h5>
		<h5>+561345678</h5>
		<img src="./img/logo.jpg" alt="Logo" width="100"	height="100">
<br>
		<h5> <a href="../index.html">Volver a Inicio</a></h5>
</body>
</html>	