<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="FERRETERIA, HERRAMIENTAS, VENTA ONLINE HERRAMIENTAS, ARRIENDO MAQUINARIA."
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"  href="./css/main.css">
    <title>Ferreteria Ltda</title>
  </head>
  <body>
    <h1>Ferreteria ltda.</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    

</div> <!-- cierre cont-->
<!-- inicio nav -->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Inicio</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="./nuestroServicio.html">Nuestro Servicio</a>
      </li>
     <li class="nav-item">
        <a class="nav-link active" href="./quienesSomos.html">Quienes Somos</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="./contacto.html">Contacto</a>
      </li>
    </ul>
  </div> 
  <div class="col-md-12 col-xs-12"></div>
</div> <!-- fin row -->
 <!-- fin nav -->

<h2>Nuestro  Servicio</h2>

<!-- inicio viñetas -->
<div class="container-fluid">
  <div class="col-md-12">
  <div class="col-md-12">
    <p></p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore deleniti, quos perferendis corporis ab accusamus magni quibusdam tempora ea porro quae explicabo. Assumenda recusandae, esse dolorum eveniet atque. Iusto.<p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloremque eligendi, accusamus voluptatem voluptas libero corporis, illum facere sed aspernatur nesciunt, quia maiores rerum, labore voluptatum ex placeat repudiandae distinctio.</p>
  </div>
</div>

<div class="row">
<div class="col-md-6 col-xs-12">
<div class="card" style="width: 100%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Juan Perez</h3>
    <p class="card-text">CEO y cofundador</p>
  </div>
</div>
</div> <!-- fin col -->

<div class="col-md-6 col-xs-12">
      <div class="card" style="width: 100%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Pedro Pablo</h3>
    <p class="card-text">Cofounder</p>

  </div>
</div>
</div> <!-- fin col2 -->
</div> <!-- row
<-- fin viñetas -->
<br>
<!-- footer -->
<div class="row">
  <div class="col-md-4 col-xs-12">
    <a href="../index.html" class="btn btn-primary btn-xs active" role="button" aria-pressed="true">Volver al inicio</a>
    <a href="#top" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true">Volver arriba</a>
  </div>
  <div class="col-md-12"></div>
  <div class="col-md-6 col-xs-12">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../img/ig.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        @ferre.ltda
      </a>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="../img/fb.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          ferre.ltda
            </a>
  </div>
</div>

  </body>
</html>
